body {
  background-color: rgb(243, 243, 243);
}

h1 {
  font-family: "Playfair Display", serif;
  color: black;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
