:root {
  --heading-bg-color: #f2ece7;
  --branding-color: #d5995b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212b0f;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 34px;
}

p {
  font-style: normal;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  background-color: var(--heading-bg-color);
  text-align: center;
  padding: 160px 20px;
  box-shadow: 5px 8px 13px 3px rgba(0, 0, 0, 0.1);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: rgb(38, 38, 38);
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  background-color: #ffffff;
  color: var(--branding-color);
}

.project-description {
  padding: 120px 60px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.nav-bg-purple {
  background-color: #475d21 !important;
}

.about-section {
  margin-top: 200px;
}

.about-section-content {
  margin: 30px;
}

.about-section-image {
  margin: 30px;
  padding-top: 140px;
  padding-left: 70px;
}

.about-section h1 {
  font-size: 86px;
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;

  color: rgb(38, 38, 38);
}

.about-section h3 {
  font-weight: 300;
  opacity: 0.9;
}

.about-section p {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

@media (max-width: 960px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    padding: 0;
    margin-top: 80px;
    text-align: center;
  }

  .about-section h1 {
    font-size: 45px;
  }

  .about-section h2 {
    font-size: 40px;
  }
}
